input[type="number"] {
  width: 60px;
  margin: 0 10px;
  display: inline;
}

.navbar-brand {
    padding: 0;
}

ol>li {
    width: 30% !important;

}

.navbar-brand>img {
    height: 100%;
    padding-left: 10px;
    padding-right: 26px;
    background: white;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.sort-teams li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.sort-teams li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

.h2, h2 {
    font-size: 47px !important;
}

.h3, h3 {
    font-size: 37px !important;
}
.h4, h4 {
    font-size: 25px !important;
    text-decoration: underline;

}


.form-control {
    width:40%;
}